<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Formulario inserción región</title>
</head>
<body>
    <h1>Insertar una nueva región</h1>
    <form action="#" th:action="@{/insertarRegion}" th:object="${region}" method="post">
        <p>Nombre: <input type="text" th:field="*{nombre}"></p>
        <p><input type="submit" value="Insertar"></p>
    </form>
    <a th:href="@{/listaRegiones}"><h3>Volver al listado de regiones</h3></a>
    <a th:href="@{/}"><h3>Volver al índice</h3></a>
</body>
</html>