<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="utf-8">
</head>
<body>
<h1>POKEMON</h1>
<h4>¡Hazte con todos!</h4>
<br><br>
<br><br>
<a th:href="@{/listaRegiones}"><h2>Ver las regiones</h2></a><br>
<a th:href="@{/formInsertarRegion}"><h2>Insertar Regiones</h2></a><br>
<a th:href="@{/listaPokemones}"><h2>Ver los pokemones</h2></a><br>
<a th:href="@{/formInsertarPokemon}"><h2>Insertar Pokemones</h2></a><br>
<a th:href="@{/listaEntrenadores}"><h2>Ver los entrenadores</h2></a><br>
<a th:href="@{/formInsertarEntrenador.html}"><h2>Insertar Entrenadores</h2></a><br>
</body>
</html>