<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Listado de entrenadores</title>
</head>
<body>
<table style="border:solid 2px; border-radius: 1px;">
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Active</th>
    </tr>
    <tr th:each="entrenadores : ${listaEntrenadores}">
        <td th:text="${entrenadores.id}"></td>
        <td th:text="${entrenadores.nombre}"></td>
        <td th:text="${entrenadores.active}"></td>
        <td><a th:href="@{'/formModificarDueno/'+${entrenadores.id}}"><input type="button" value="Cambiar nombre"></a></td>
        <td><a th:href="@{'/avisoEliminarDueno/'+${entrenadores.id}}"><input type="button" value="Eliminar entrenador"></a></td>
        //Cambia a activo o inactivo
        <td><a th:href="@{'/avisoEliminarDueno/'+${entrenadores.id}}"><input type="button" value="Eliminar entrenador"></a></td>
    </tr>
</table>
<a th:href="@{/formInsertarDueno}"><h3>Insertar un nuevo dueño</h3></a>
<a th:href="@{/}"><h3>Volver al índice</h3></a>
</body>
</html>