<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Listado de entrenadores</title>
</head>
<body>
<table>
    <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Active</th>
    </tr>
    <tr th:each="entrenadores : ${listaEntrenadores}">
        <td th:text="${entrenadores.id}"></td>
        <td th:text="${entrenadores.nombre}"></td>
        <td th:text="${entrenadores.active}"></td>
    </tr>
</table>
<a th:href="@{/templates/formEntrenador.html}"><h3>Insertar un nuevo entrenador</h3></a>
<a th:href="@{/}"><h3>Volver al índice</h3></a>
</body>
</html>